// :root{
//   --first : #5680e9;
//   --second : #84ceeb;
//   --third : #5ab9ea;
//   --fourth : #c1c8e4;
//   --fifth : #8860d0;
//   --white : #fff;
//   --black : #000;
// }
.get_a_demo_container{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.get_a_demo_heading{
  width: 50%;
}
.get_a_demo_heading > h1{
  font-weight: bolder;
  font-size: 4rem;
}
.get_a_demo_container_paragraph{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 70%;
    margin: 30px 0px;
}

.get_a_demo_paragraph{
  text-align: center;
  color: rgb(134, 133, 133);
  font-size: 1.2rem;
}

.contact-section {
  padding: 4em 0;
}
.container {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.justify-content-center {
  justify-content: center !important;
}
.col-md-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}
.col-md-6 {
  flex: 0 0 auto;
  width: 50%;
}
.w-100 {
  width: 100% !important;
}
.p-lg-5 {
  padding: 3rem !important;
}
.p-4 {
  padding: 2.5rem !important;
}
.mb-4 {
  margin-bottom: 1.5rem !important;
}
.col-md-12 {
  flex: 0 0 auto;
  width: 100%;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.col-md-12 {
  flex: 0 0 auto;
  width: 100%;
}
.d-flex {
  display: flex !important;
}
.align-items-stretch {
  align-items: stretch !important;
}
.align-items-start {
  align-items: flex-start !important;
}
.align-items-center {
  align-items: center !important;
}
input:focus, textarea:focus, select:focus{
  outline: none;
}
.wrapper {
  width: 100%;
  -webkit-box-shadow: 0px 21px 41px -13px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 21px 41px -13px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 21px 41px -13px rgba(0, 0, 0, 0.18);
}

.contact-wrap {
  background: rgba(127, 39, 156, 1);
  background: -moz-linear-gradient(
    -45deg,
    rgba(127, 39, 156, 1) 0%,
    rgba(46, 39, 157, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right bottom,
    color-stop(0%, rgba(127, 39, 156, 1)),
    color-stop(100%, rgba(46, 39, 157, 1))
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgba(127, 39, 156, 1) 0%,
    rgba(46, 39, 157, 1) 100%
  );
  background: -o-linear-gradient(
    -45deg,
    rgba(127, 39, 156, 1) 0%,
    rgba(46, 39, 157, 1) 100%
  );
  background: -ms-linear-gradient(
    -45deg,
    rgba(127, 39, 156, 1) 0%,
    rgba(46, 39, 157, 1) 100%
  );
  background: rgb(54, 160, 192);
  // linear-gradient(
  //   135deg,
  //   rgba(127, 39, 156, 1) 0%,
  //   rgba(46, 39, 157, 1) 100%
  // );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7f279c', endColorstr='#2e279d', GradientType=1 );
  h3 {
    color: #fff;
  }
}

h3 {
  color: white;
}

.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.form-control {
  height: 62px;
  background: transparent;
  color: rgba(255, 255, 255, 0.8) !important;
  font-size: 16px;
  border-radius: 0px;
  box-shadow: none !important;
  border: 1px solid rgba(255, 255, 255, 0.2);
  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(255, 255, 255, 0.5) !important;
  }
  &::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(255, 255, 255, 0.5) !important;
  }
  &:-ms-input-placeholder {
    /* IE 0+ */
    color: rgba(255, 255, 255, 0.5) !important;
  }
  &:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(255, 255, 255, 0.5) !important;
  }
  &:focus,
  &:active {
    background: transparent;
    border-color: rgba(255, 255, 255, 0.5) !important;
  }
}

textarea.form-control {
  height: inherit !important;
  margin-top: 5px;
}

.contactForm {
  .form-control {
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 0;
  }
}

.btn {
  padding: 12px 16px;
  cursor: pointer;
  border-width: 1px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  -webkit-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
  position: relative;
  margin-top: 20px;
}

.btn-primary {
  background: #11b483 !important;
  border-color: #d62196 !important;
  color: #fff;
}

.info-wrap {
  h3 {
    color: #000;
    position: relative;
    margin-bottom: 30px;
    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 60px;
      height: 3px;
      background: #d62196;
      content: "";
    }
  }
  .dbox {
    width: 100%;
    // color: rgba(255,255,255,.8);
    margin-bottom: 25px;
    &:last-child() {
      margin-bottom: 0;
    }
    p {
      margin-bottom: 0;
      span {
        font-weight: 400;
        color: #000;
      }
      a {
        color: rgba(0, 0, 0, 0.3);
      }
    }
    .icon {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 1px solid rgba(0, 0, 0, 0.05);
      span {
        font-size: 20px;
        color: #000;
      }
    }
    .text {
      width: calc(100% - 50px);
      margin: 10px;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  line-height: 1.5;
  font-weight: 400;
  font-family: "Poppins", Arial, sans-serif;
  color: #000;
}

a {
  transition: 0.3s all ease;
  // color: #d62196;
  color: var(--first);
  text-decoration: none;
  &:hover,
  &:focus {
    text-decoration: none !important;
    outline: none !important;
    box-shadow: none;
  }
}

#contactForm {
  .form-control {
    font-size: 16px;
  }
}

@media (min-width: 1000px){
  .get_a_demo_paragraph {
    font-size: 1rem;
    line-height: 25px;
}
}

@media (max-width: 950px) {
  .dbox {
    width: 100%;
    margin-bottom: 25px;
    font-size: 0.8rem;
  }
  .info-wrap > p{
    font-size: 0.9rem;
  }
  .get_a_demo_heading > h1 {
    font-weight: bolder;
    font-size: 3rem;
}
  .get_a_demo_paragraph {
    font-size: 1rem;
    line-height: 25px;
}
}

@media (max-width: 800px) {
  .row{
    --bs-gutter-x: 0rem;
  }
  .no-gutters{
    display: flex;
    flex-direction: column;
  }
  .no-gutters .col-md-6{
    width: 100%;
  }
  .get_a_demo_heading > h1 {
    font-weight: bolder;
    font-size: 2.7rem;
}
  .get_a_demo_paragraph {
    font-size: 0.8rem;
    line-height: 20px;
}
}

@media (max-width: 570px){
  .get_a_demo_heading > h1 {
    font-weight: bolder;
    font-size: 2.3rem;
}
  .get_a_demo_paragraph {
    font-size: 0.7rem;
    line-height: 15px;
}
}

@media (max-width: 460px) {
  .dbox {
    width: 100%;
    margin-bottom: 25px;
    font-size: 0.6rem;
  }
  .info-wrap > p{
    font-size: 0.6rem;
  }
  .get_a_demo_heading > h1 {
    font-weight: bolder;
    font-size: 2rem;
}
  .get_a_demo_paragraph {
    font-size: 0.6rem;
    line-height: 15px;
}
}

@media (max-width: 400px) {
  .get_a_demo_heading > h1 {
    font-weight: bolder;
    font-size: 1.5rem;
}
  .get_a_demo_paragraph {
    font-size: 0.5rem;
    line-height: 15px;
}
}

@media (max-width: 300px) {
  .get_a_demo_heading > h1 {
    font-weight: bolder;
    font-size: 1.3rem;
}
  .get_a_demo_paragraph {
    font-size: 0.4rem;
    line-height: 12px;
}
}