
:root{
    --first : #5680e9;
    --second : #84ceeb;
    --third : #5ab9ea;
    --fourth : #c1c8e4;
    --fifth : #8860d0;
    --white : #fff;
    --black : #000;
}

.callout-banner{
    /* background: rgb(41 52 80); */
    /* background: #161623; */
    background: var(--first);
}

.clearfix{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 50vh; */
    height: 100%;

}
.white_line{
    background: var(--fourth);
    /* height: 50vh; */
    height: 30rem;
    width: 5px;
}
.title_div{
    width: 40%;
    padding: 20px 40px;
    float: right;
}
.title{
    
    font-size: 3rem;
    color: #fff;
}
.paragraph_div{
    width: 60%;
    padding: 20px 60px;
}
.paragraph{
    line-height: 30px;
    color: #fff;
    font-size: 1.23rem;
    font-weight: 300;
    text-align: justify;
}

.three_icons_div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px;
    height: 400px;
    /* border-bottom: 1px solid #161623; */
    flex-wrap: wrap;
}
.recycle, .water, .hand-holding-heart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.fa-recycle, .fa-water, .fa-hand-holding-heart{
    margin-bottom: 15px;
}
.fa-recycle{
    color: maroon;
}
.fa-water{
    color: rgb(38, 161, 238);
}
.fa-hand-holding-heart{
    color: limegreen;
}


.about_company{
    background-size: cover;
    background-attachment: fixed;
    /* background-color: #707d9e; */
    /* margin-bottom: 20px; */
    border-bottom: 1px solid rgb(230, 230, 230);
}

.about_container{
    display: flex;
    justify-content: center;
}

.about_company .about_overlay {
    /* background: rgba(0,26,87,0.8); */
    /* background: #161623; */
    padding: 50px 0;
}

.about_row{
    display: flex;
    width: 75%;
    align-items: center;
    justify-content: center;
}

.about_text{
    color: #000;
    margin: 0px 30px;
}
.about_theme_title_one{
    margin: 10px 0px;


}
.about_theme_title_one > h2{
    /* color: #fff; */
    color: crimson;

}
.about_theme_title_one > hr{
    height: 3px;
    background: crimson;
    border: none;
}
.our_vision_para{
    font-size: 0.9rem;
    font-weight: lighter;
    line-height: 20px;
    /* color: rgb(92, 91, 91); */
    /* color: #fff; */
}

.about_video{
margin: 0px 30px;
}

.mission{
    margin: 10px 0px;
    /* color: #d62196; */
    color: var(--first);
}

.our_mission_para{
    font-size: 0.9rem;
    font-weight: lighter;
    line-height: 20px;
    /* color: rgb(92, 91, 91); */
    /* color: #fff; */
}

.support_grid{
    margin-top: 20px;
}
/* .support_heading{
    margin-bottom: 20px;
} */
.support_heading > h1{
    font-size: 2.7rem;
    font-weight: bolder;
    margin-top: 10px;
    background: #016cb5;
    color: #fff;
    padding: 15px 0px;
}
.support_paragraph{
    text-align: center;
    background: #e4e4e4;
    padding: 10px 0px;
}

.support_grid_image{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    grid-gap: 10px;
}
.support_images{
    margin: 20px 10px;
}

@media (max-width: 1150px){
    .about_row{
        flex-direction: column;
    }
    .about_video{
        margin: 50px 0px;
    }
    .title{
        font-size: 1.8rem;
    }
    .paragraph{
        font-size: 0.9rem;
        line-height: 25px;
    }
    .clearfix{
        /* height: 40vh; */
        height: 100%;
    }
    /* .white_line{
        height: 40vh;
    } */
}
@media (max-width: 950px){
    .title{
        font-size: 1.6rem;
    }
    .paragraph{
        font-size: 0.85rem;
        line-height: 20px;
    }
    .support_grid_image{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .support_images > img{
        height: 100px;
        width: 100%;
    }
    .clearfix{
        /* height: 35vh; */
        height: 100%;
    }
    .white_line{
        height: 21rem;
    }

}
@media (max-width: 800px){
    .title{
        font-size: 1.5rem;
    }
    .paragraph{
        font-size: 0.7rem;
        line-height: 18px;
    }
    .about_row{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about_text{
        width: 100%;
    }
    .about_video{
        margin: 50px 10px;
        
    }
    .about_video > iframe{
        width: 400px;
        height: 300px;
    }
    .support_images > img{
        height: 70px;
        width: 100%;
    }
}



@media (max-width: 650px){
    hr{
        width: 100%;
        color: rgb(197, 235, 248);
    }
    .clearfix {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .title_div{
        text-align: center;
        width: 100%;
    }
    .title{
        font-size: 1.4rem;
    }
    .paragraph_div{
        width: 100%;
    }
    .paragraph{
        font-size: 0.6rem;
        line-height: 15px;
        text-align: justify;
    }
    .about_video > iframe{
        width: 300px;
        height: 200px;
    }
    .white_line{
        height: 5px;
        width: 100%;
    }
    .support_images > img{
        height: 70px;
        width: 100%;
    }
    .paragraph_div{
        width: 100%;
        padding: 20px 40px;
    }
    .hand-holding-heart > h3{
        font-size: 1rem;
    }
    .recycle > h3{
        font-size: 1rem;
    }
    .water > h3{
        font-size: 1rem;
    }
    .three_icons_div{
        height: 200px;
    }
}

@media (max-width: 500px){
    .title_div{
        padding-bottom: 5px;
    }
    .title{
        font-size: 1rem;
    }
    .paragraph{
        font-size: 0.4rem;
        line-height: 10px;
    }
    .about_video > iframe{
        width: 250px;
        height: 180px;
    }
    .support_heading > h1{
        font-size: 2rem;
    }
    .support_paragraph > p{
        font-size: 0.8rem;
    }
    .support_grid_image{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .support_images > img{
        height: 50px;
        width: 100%;
    }
    .paragraph_div{
        width: 100%;
        padding: 20px 30px;
    }
    .hand-holding-heart > h3{
        font-size: 0.8rem;
    }
    .recycle > h3{
        font-size: 0.8rem;
    }
    .water > h3{
        font-size: 0.8rem;
    }
    .three_icons_div{
        height: 200px;
    }
}

@media (max-width: 400px){
    .support_heading > h1{
        font-size: 1.5rem;
    }
    .support_paragraph > p{
        font-size: 0.6rem;
    }
    .support_grid_image{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .support_images > img{
        height: auto;
        width: 100;
    }
    .paragraph_div{
        width: 100%;
        padding: 20px 20px;
    }
    .hand-holding-heart > h3{
        font-size: 0.5rem;
    }
    .recycle > h3{
        font-size: 0.5rem;
    }
    .water > h3{
        font-size: 0.5rem;
    }
    .three_icons_div{
        height: 200px;
    }
}