@font-face {
  font-family: "Gotham-medium";
  src: url(../Gotham-Font/GothamMedium.ttf);
}
.navbar {
    /* background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%); */
    /* background: #efeeeefc;  */

     /* background: transparent; */
     /* background: #f5f5f5fc; */
      /* background: #161623; */
      background: #fff;

    height: 65px;
    display: flex;
    /* justify-content: center; */
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    border-bottom: 1px solid #f5f5f5;
  }

  .navbar-logo > img {
    max-width: 100%;
    display: block;
    margin-left: 10px;
}
  .bariflolab-logo{
    height: 45px;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 65px;
    max-width: 1500px;
  }
  /* .navbar-logo-container{

  } */
  .navbar-logo {
    /* color: rgb(27, 27, 27);
     */
     color: #338ef7;
    /* font-weight: bolder; */
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    align-content: center;
    width: 300px;
  }

  .navbar-logo > span{
    color: #0675ba;
    font-size: 1.6rem;
    margin-left: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* text-transform: uppercase; */
    font-family: Gotham-medium;
    margin-top: 17px;
  }
  
  .fa-typo3 {
    margin-left: 0.5rem;
    font-size: 1.8rem;
  }
  
  .nav-menu {
    display: flex;
    list-style: none;
    text-align: center;
    width: 100vw;
    justify-content: flex-end;
    margin-right: 2rem;
  }
  
  .nav-item {
    height: 65px;
  }
  
  .nav-links {
    /* color:rgb(84, 84, 84); */
    color :  #2c2c2c;
     /* color: #fff; */
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
    height: 100%;
    font-family: Gotham-light;
    font-weight: bold;
  }
  
  .nav-links:hover {
    /* border-bottom: 2px solid rgb(0, 0, 0, 0.3); */
    /* transition: all 0.2s ease-out; */
    background: #f5f5f5;
    color: black;
  }
  
  .fa-bars {
    color: rgb(27, 27, 27);
  }
  
  .nav-links-mobile {
    display: none;
  }
  
  .menu-icon {
    display: none;
  }

  @media (min-width: 1600px){
    .nav-links{
      font-size: 1.3rem;
    }
    .navbar{
      height: 100px;
    }
    .bariflolab-logo{
      width: 300px;
    }
  }
  
  @media screen and (max-width: 960px) {
    .NavbarItems {
      position: relative;
    }
  
    .nav-menu {
      /* display: flex;
      flex-direction: column;
      width: 100%;
      height: 90vh;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease; */
      display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 65px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    justify-content: center;
    }
  
    .nav-menu.active {
      background: #e7e7e7;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
  
    .nav-links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    .nav-links:hover {
      background-color: #fff;
      color: #242424;
      border-radius: 0;
    }
  
    .navbar-logo {
      position: absolute;
      top: 10px;
      left: 0;
      width: auto;
    }
  
    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }
  
    .fa-times {
      color: rgb(27, 27, 27);
      font-size: 2rem;
    }
  
    .nav-links-mobile {
      display: block;
      text-align: center;
      margin: 2rem auto;
      border-radius: 4px;
      width: 80%;
      text-decoration: none;
      font-size: 1.5rem;
      background-color: transparent;
      color: rgb(27, 27, 27);
      padding: 14px 20px;
      border: 1px solid #fff;
      transition: all 0.3s ease-out;
    }
  
    .nav-links-mobile:hover {
      /* background: #fff; */
      color: #242424;
      transition: 250ms;
    }
  }

  @media (max-width: 960px) {


  }
  @media (max-width: 600px) {
      .navbar-logo > span{
        font-size: 20px;
        /* height: 65px; */
      }

  }
  @media (max-width: 400px) {
    .navbar-logo > span{
      display: none;
    }

  }
  @media (max-width: 250px) {


  }