* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "poppins", sans-serif;
  scroll-behavior: smooth;
}

.banner_for_our_team {
  /* background-image: url('https://bariflo.teceads.co.in/images/home/inner-banner.jpg'); */
  /* background: linear-gradient(45deg, #f0f, #2196f3, transparent); */
  background: var(--second);
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #161623;
  font-size: 50px;
  background-size: cover;
  height: 35vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a{
  font-family: 'Gotham-light';
}
.banner_for_our_team > h1 {
  /* font-weight: bolder; */
  color: #fff;
  font-family: 'Gotham-light';
}

.select_name_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.select_name_div > h5 {
  margin: 5px 5px;
  font-size: 0.7rem;
  border: 1px solid #dbdbdb;
  padding: 5px 10px;
  border-radius: 10px;
}

.select_name_div > h5:hover a {
  color: #fc2f2f;
  cursor: pointer;
  font-size: 0.706rem;
}

.our_team_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #fbfbfb;
}

.our_team_container {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 40px 0;
}

.our_team_container .our_team_card {
  position: relative;
  width: 300px;
  height: 420px;
  background: rgba(255, 255, 255, 0.05);
  margin: 20px;
  -webkit-box-shadow: 0 5px 16px #84ceeb73;
          box-shadow: 0 5px 16px #84ceeb73;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid whitesmoke;
}

.our_team_dowm_paragraph > h5 {
  text-align: center;
  padding: 20px 10px;
  color: var(--primary);
  font-weight: bolder;
  font-family: 'Gotham-light';
}

.our_team_container .our_team_card .our_team_content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.our_team_imgBx {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 10px solid rgba(0, 0, 0, 0.25);
}

.our_team_imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.our_team_contentBx h3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  text-align: center;
  margin: 20px 10px;
  line-height: 1.1em;
  font-family: Gotham-medium;
}

.our_team_contentBx h3 span {
  font-size: 12px;
  font-weight: 500;
  text-transform: initial;
}

.sci {
  position: absolute;
  bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sci li {
  list-style: none;
  margin: 0px 10px;
}

.sci li a {
  color: #3f79f5;
  font-size: 24px;
}

.our_team_button_div {
  width: 100%;
  padding: 10px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our_team_button {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background: green;
  color: white;
}

.our_team_button_cancel {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background: crimson;
  color: white;
}

.our_team_paragraph {
  position: relative;
  overflow: hidden;
  height: 100%;
  margin: 10px 30px;
  font-size: 13px;
  text-align: justify;
  line-height: 1.5;
  border-radius: 0px 0px 5px 5px;
}

.fa-facebook {
  color: #2929f7;
}

.fa-twitter {
  color: #6698f5;
}

.fa-pinterest {
  color: crimson;
}

.my_linkedin_logo {
  color: #29a6ff;
}

@media (min-width: 1600px) {
  .banner_for_our_team > h1 {
    font-size: 7rem;
  }
  .banner_for_our_team {
    height: 20vh;
  }
  .select_name_div > h5 {
    font-size: 1.2rem;
  }
}

@media (max-width: 500px) {
  .banner_for_our_team > h1 {
    font-size: 3rem;
  }
  .banner_for_our_team {
    height: 20vh;
  }
  .select_name_div > h5 {
    font-size: 0.5rem;
  }
}

@media (max-width: 345px) {
  .banner_for_our_team > h1 {
    font-size: 2rem;
  }
  .our_team_container .our_team_card {
    width: 260px;
  }
  .our_team_paragraph {
    font-size: 10px;
  }
  .banner_for_our_team {
    height: 15vh;
  }
  .select_name_div > h5 {
    font-size: 0.4rem;
  }
}
/*# sourceMappingURL=OurTeam.css.map */