* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
.products::before {
  content: " ";
  position: absolute;
  top: 65px;
  left: 0;
  height: 50vh;
  width: 100vw;
  /* background: rgba(0, 162, 255, 0.1);
     */
  /* background: linear-gradient(45deg, #f0f, #2196f3 , transparent); */
  /* background: #fff; */
  z-index: 1;
  color: rgb(113, 195, 233);
}

.products {
  color: #fff;
  font-size: 100px;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: linear-gradient(179deg, #53c2ed, transparent, #0e6b81); */
background: #161623;
}
.products::after {
  content: "OUR PRODUCTS";
  z-index: 1;
  font-weight: bolder;
  /* color: #000; */
  color: #d62196;
  text-align: center;
}

/* .body_container::before{
      content: " ";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: crimson;
      clip-path: polygon(100% 0%, 60% 0%, 37% 100%, 100% 100%);
  } */
.body_container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background: #161623; */
}

/* .body::before{
    content: " ";
    position: absolute;
    top: 1213px;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f00, #f0f);
    clip-path: circle(30% at right 70%);
}

.body::after{
    content: " ";
    position: absolute;
    top: 1027px;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f3, #e91e63);
    clip-path: circle(20% at 0% 30%);
 }  */

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* max-width: 90vw; */
  flex-wrap: wrap;
  z-index: 1;
}

.container .card {
  position: relative;
  margin: 30px 100px;
  box-shadow: 10px 10px 50px rgba(0 0 0 10%);
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border: 1px solid rgb(219, 219, 219);
  backdrop-filter: blur(50px);
}

.container .card .content {
  /* padding: 20px; */
  text-align: center;
  transition: 0.5s;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.container .card .content h2 {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 5em;
  /* color: rgba(255, 255, 255, 0.5); */
  /* color : rgb(255 0 0 / 50%); */
  color: rgb(157 157 157 / 50%);
  z-index: -1;
  pointer-events: none;
}

.container .card .content h3 {
  font-size: 1.8em;
  color: #fff;
  z-index: 1;
}
.container .card .content p {
  font-size: 0.8em;
  color: rgb(37, 37, 37) !important;
  font-weight: 500 !important;
  line-height: 2;
  text-align: justify;
  padding: 0px 50px;
  margin-bottom: 10px;
}
.container .card .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  margin-top: 15px;
  background: #fff;
  color: #000;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 500;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0, 5);
}

.container .card .content img {
  height: 50vh;
  width: 100%;
  /* border-radius: 20px; */
}
.container_for_image {
  width: 50%;
  padding: 15px;
  /* height: 52vh; */
  /* box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5); */
  /* border-radius: 20px; */
}
.container_for_paragraph {
  width: 50%;
}
/* .container_for_paragraph > h1{
    margin-top: 20px;
} */
.container_for_paragraph > h1 {
  margin-top: 20px;
}
@media (min-width: 2560px) {
  .container .card .content p {
    font-size: 2em;
    color: rgb(61, 60, 60);
    font-weight: 300;
    line-height: 2;
    text-align: justify;
    padding: 0px 50px;
    margin-bottom: 10px;
  }
}
@media (max-width: 2560px) {
  .container .card .content p {
    font-size: 1.6em;
    color: rgb(61, 60, 60);
    font-weight: 300;
    line-height: 2;
    text-align: justify;
    padding: 0px 50px;
    margin-bottom: 10px;
  }
}
@media (max-width: 1640px) {
  .container .card .content p {
    font-size: 1em;
    color: rgb(61, 60, 60);
    font-weight: 300;
    line-height: 2;
    text-align: justify;
    padding: 0px 50px;
    margin-bottom: 10px;
  }
}

@media (max-width: 850px) {
  .products::after {
    content: "OUR PRODUCTS";
    z-index: 1;
    font-weight: bolder;
    font-size: 5rem;
  }
  .container .card .content h2 {
    font-size: 4rem;
  }
  .container .card {
    margin: 25px;
  }
}

@media (max-width: 800px) {
  .container .card .content p {
    font-size: 0.8em;
    color: rgb(119, 119, 119);
    font-weight: 300;
    line-height: 1.7;
    text-align: justify;
    padding: 0px 50px;
  }
}

@media (max-width: 700px) {
  .container .card .content p {
    font-size: 0.8em;
    color: rgb(119, 119, 119);
    font-weight: 300;
    line-height: 1.7;
    text-align: justify;
    padding: 0px 30px;
  }
  .container .card .content h2 {
    font-size: 3.5rem;
  }
}

@media (max-width: 1050px) {
  .container .card .content {
    text-align: center;
    transition: 0.5s;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
  }
  .container_for_image {
    width: 50%;
    padding: 0px;
  }
  .container .card .content img {
    height: 100%;
    width: 100%;
  }
  .container_for_image {
    width: 100%;
    height: 100%;
  }
  .container_for_paragraph {
    width: 100%;
  }
  .container .card .content h2 {
    color: #fff;
    z-index: 1;
    font-size: 3rem;
  }
  .container_for_paragraph > h1 {
    margin-top: 20px;
  }
  .container .card .content p {
    font-size: 0.9em;
  }
  .products::after {
    font-size: 3rem;
  }
}

@media (max-width: 400px) {
  .products::after {
    font-size: 2rem;
  }
  .container .card .content p {
    font-size: 0.4em;
    color: rgb(119, 119, 119);
    font-weight: 300;
    line-height: 1.7;
    text-align: justify;
    padding: 0px 30px;
  }
  .container .card .content h2 {
    color: #fff;
    z-index: 1;
    font-size: 3rem;
  }
}
