* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.banner_for_our_team {
  /* background-image: url('https://bariflo.teceads.co.in/images/home/inner-banner.jpg'); */
  /* background: linear-gradient(45deg, #f0f, #2196f3, transparent); */
  // background: #fff;
  // background: #af227f;
  background: #161623;
  // background: linear-gradient(0deg, #161623, white);
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #161623;
  font-size: 50px;
  background-size: cover;
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner_for_our_team > h1 {
  font-weight: bolder;
  color: #fff;
}

.select_name_div {
  display: flex;
  justify-content: center;
  margin: 20px 10px;
  flex-wrap: wrap;
}
.select_name_div > h5 {
  color: #fff;
  margin: 5px 5px;
  font-size: 0.6rem;
  border: 1px solid #5e5d5d;
  padding: 5px 10px;
  border-radius: 10px;
}
.select_name_div > h5:hover a {
  color: rgb(216, 213, 213);
  cursor: pointer;
  font-size: 0.606rem;
}


.our_team_body {
  display: flex;
  justify-content: center;
  // align-items: center;
  flex-wrap: wrap;
  background: #161623;
  // min-height: 100vh;
}

.our_team_container {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px 0;
}
.our_team_container .our_team_card {
  position: relative;
  width: 300px;
  height: 420px;
  background: rgba(255, 255, 255, 0.05);
  margin: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // backdrop-filter: blur(10px);
}

.our_team_container .our_team_card .our_team_content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // opacity: 0.8;
  // transition: 0.5s;
}
// .our_team_container .our_team_card:hover .our_team_content {
//   opacity: 1;
//   /* transform: translateY(-20px); */
// }

.our_team_imgBx {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 10px solid rgba(0, 0, 0, 0.25);
}
.our_team_imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.our_team_contentBx h3 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 18px;
  text-align: center;
  margin: 20px 0 10px;
  line-height: 1.1em;
}

.our_team_contentBx h3 span {
  font-size: 12px;
  font-weight: 300;
  text-transform: initial;
}

.sci {
  position: absolute;
  bottom: 25px;
  display: flex;
}
.sci li {
  list-style: none;
  margin: 0px 10px;
  // transform: translateY(40px);
  // transition: 0.5s;
  // opacity: 0;
  // transition-delay: calc(0.1s);
}
// .our_team_card:hover .sci li {
//   transform: translateY(20px);
//   opacity: 1;
// }

.sci li a {
  color: rgb(63, 121, 245);
  font-size: 24px;
}

.our_team_button_div {
  width: 100%;
  padding: 10px 30px;
  display: flex;
  justify-content: center;
}
.our_team_button {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  // opacity: 0.5;
  // transition-delay: calc(0.2s);
  // transition: 0.5s;
  cursor: pointer;
  background: green;
  color: white;
}
// .our_team_button:hover {
//     background: green;
//     color: white;
//     cursor: pointer;

//   }
// .our_team_card:hover .our_team_button {
//     /* transform: translateY(-20px); */
//   opacity: 1;
// }

.our_team_button_cancel {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  // transition-delay: calc(0.2s);
  // transition: 0.6s;
  cursor: pointer;
  background: crimson;
  color: white;
}
// .our_team_button_cancel:hover {
//     transition: 0.5s;
//     background: crimson;
//     color: white;
//   opacity: 1;
// }

.our_team_paragraph {
  position: relative;
  overflow: hidden;
  height: 100%;
  margin: 10px 30px;
  color: rgb(214, 213, 213);
  font-size: 13px;
  text-align: justify;
  line-height: 1.5;
  border-radius: 0px 0px 5px 5px;
}

.fa-facebook {
  color: rgb(41, 41, 247);
}
.fa-twitter {
  color: rgb(102, 152, 245);
}
.fa-pinterest {
  color: crimson;
}

@media (min-width: 1600px) {
  .banner_for_our_team > h1 {
    font-size: 7rem;
  }
  .banner_for_our_team {
    height: 20vh;
  }
  .select_name_div > h5{
    font-size: 1.2rem;
  }
}
// @media (max-width: 1023px) {
  
// }

@media (max-width: 500px) {
  .banner_for_our_team > h1 {
    font-size: 3rem;
  }
  .banner_for_our_team {
    height: 20vh;
  }
}

@media (max-width: 345px) {
  .banner_for_our_team > h1 {
    font-size: 2rem;
  }
  .our_team_container .our_team_card {
    width: 260px;
  }

  .our_team_paragraph {
    font-size: 10px;
  }
  .banner_for_our_team {
    height: 15vh;
  }
}
